<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<div id="content">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/usersGlobal.js"></script>
    <script type="text/javascript" src="/javascripts/postsGlobal.js"></script>
    <script type="text/javascript" src="/javascripts/userUtils.js"></script>
    {{{body}}}
</div>
</body>
</html>