<h1>{{title}}</h1>
<p>Welcome to our test</p>
<div id="wrapper">
    <div id="userInfo">
        <h2>User Info</h2>
        <p>
            <strong>
                Name:
                <span id='userInfoName'></span>
            </strong>
            <br>
            <strong>
                Age:
                <span id='userInfoAge'></span>
            </strong>
            <br>
            <strong>
                Gender:
                <span id='userInfoGender'></span>
            </strong>
            <br>
            <strong>
                Location:
                <span id='userInfoLocation'></span>
            </strong>
        </p>
        <h2>User List</h2>
        <div id="userList">
            <table>
                <thead>
                <th>UserName</th>
                <th>Email</th>
                <th>Delete?</th>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <h2>Add/Update User</h2>
        <div id="addUser">
            <fieldset>
                <input id="inputUserName" type='text' placeholder='Username'>
                <input id="inputUserFullname" type='text' placeholder='Full Name'>
                <br>
                <input id="inputUserEmail" type='text' placeholder='Email'>
                <input id="inputUserAge" type='text' placeholder='Age'>
                <br>
                <input id="inputUserLocation" type='text' placeholder='Location'>
                <input id="inputUserGender" type='text' placeholder='gender'>
            </fieldset>
            <br>
            <button id = "btnAddUser">Add User</button>
            <button id = "btnUpdateUser">Update User</button>
        </div>
    </div>
</div>
